<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="doRefresh()">
      <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
    </ion-buttons>
    <ion-title>Rider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-segment value="order-details" [(ngModel)]="segmentModel" color="secondary">
    <ion-segment-button value="order">
      <ion-icon name="reader-sharp"></ion-icon>
      Order <br> Details
    </ion-segment-button>
    <ion-segment-button value="customer">
      <ion-icon name="person-sharp"></ion-icon>
      Customer <br> Details
    </ion-segment-button>
    <ion-segment-button value="holding-area">
      <ion-icon name="cube-sharp"></ion-icon>
      Staging <br> Area
    </ion-segment-button>
    <ion-segment-button value="rider">
      <ion-icon name="people"></ion-icon>
      Rider <br> Details
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segmentModel === 'order'">
    <ion-card *ngIf="productDatas.length > 0">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ngx-qrcode
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="jobOrderNo">
              </ngx-qrcode>
              <ion-button color="primary" (click)="openQRQModal()">View Full Image</ion-button>
            </ion-col>
            <ion-col>
              <ion-card-title>Job Order No.: {{jobOrderNo}}</ion-card-title>
              <ion-card-subtitle>Delivery Date: {{deliveryDate}}</ion-card-subtitle>
              <ion-card-subtitle>Area of Delivery: {{areaOfDelivery}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="card-body">
          <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-cart"></i></div>
              </div>
              <h4 class="step-title">Order Date</h4>
            </div>
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-users"></i></div>
              </div>
              <h4 class="step-title">On Process</h4>
            </div>
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-news-paper"></i></div>
              </div>
              <h4 class="step-title">For Pos</h4>
            </div>
            <div class="step {{isCompleted}}">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-car"></i></div>
              </div>
              <h4 class="step-title">For Staging</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-home"></i></div>
              </div>
              <h4 class="step-title">Product Delivered</h4>
            </div>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h4>QTY</h4>
            </ion-col>
            <ion-col size="5">
              <h4>Order Details</h4>
            </ion-col>
            <ion-col size="3">
              <h4>Unit Price</h4>
            </ion-col>
            <ion-col size="2">
              <h4>Total</h4>
            </ion-col>
          </ion-row>
          <div >
            <ion-row *ngFor="let data of productDatas; let i = index;">
              <ion-col size="2">
                <div *ngIf="data.department_id != '130'">
                  <h2>{{data.quantity}}</h2>
                </div>
                <ion-img [src]="data.featured_image"></ion-img>
                <ion-button size="small" color="primary" expand="full" (click)="openImage(data.featured_image)">VIEW</ion-button>
              </ion-col>
              <ion-col size="5">
                <label><b>ITEM: </b>{{data.name}}</label>
                <label><b>SKU#:</b> {{data.sku}}</label>
                <label *ngIf="data.product_type_id == '2'"><b>WEIGHT:</b> {{data.weight}}</label><br>
                <span *ngIf="deliveryLevel == 1">
                  <label *ngIf="data.is_same_prod_diff_size == 1"><b>Replacement Option: </b>Same brand, Different size </label>
                  <label *ngIf="data.is_same_size_diff_brand == 1"><b>Replacement Option: </b>Nearly same size, Different brand</label>
                  <label *ngIf="data.is_no_substitution== 1" ><b>Replacement Option: </b>No Replacement</label>
                </span>
                <label *ngIf="deliveryLevel == 2 || deliveryLevel == 3">
                  <span *ngIf="data.is_dc_delivery == 0"><b>Delivery Date:</b> {{deliveryDate}}</span>
                  <span *ngIf="data.is_dc_delivery == 1"><b>DC Delivery:</b> {{data.delivery_date_time | date:'EEEE, d MMMM yyyy h:mm ' }}</span>
                </label>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.isReplaced == 1">Replaced</ion-button>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.is_out_of_stock == 1">Out Of Stock</ion-button>
              </ion-col>
              <ion-col size="3">
                <h2>{{data.price_history | number:'1.2-2'}}</h2>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="data.product_type_id == '1' || data.product_type_id == '3'">
                  <h2>{{data.price_history * data.quantity | number:'1.2-2'}}</h2>
                </div>
                <div *ngIf="data.product_type_id == '2'">
                  <h2>{{data.price_history*data.weight | number:'1.2-2'}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col>
              <b>Total Quantity: {{total}} </b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table class="cost-summary">
                <tr>
                  <td class="left"><b>Item Total({{total}}): </b></td>
                  <td class="right"><b>{{cost_summary.subtotal}}</b></td>
                </tr>
                <tr>
                  <td class="left"><b>ADD:</b></td>
                  <td class="right"></td>
                </tr>
                <tr *ngIf="hasMembership == null || hasMembership != 1">
                  <td class="left"><b>Non-member's Fee: </b></td>
                  <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
                </tr>
                <tr>
                  <td class="left">
                    <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Shopping Fee:</b></span>
                    <span *ngIf="deliveryLevel == 3"><b>Discount:</b></span>
                  </td>
                  <td class="right"><b>{{cost_summary.concierge}}</b></td>
                </tr>
                <tr>
                  <td class="left">
                    <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Delivery Fee:</b></span>
                    <span *ngIf="deliveryLevel == 3"><b>S&H Fee:</b></span>
                  </td>
                  <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
                </tr>
                <tr>
                  <td class="left"><b>Final Total: </b></td>
                  <td class="right" *ngIf="cost_summary.pos_total;else elseStatement"><b>{{cost_summary.pos_total}}</b></td>
                  <ng-template #elseStatement>
                    <td td class="right" #elseStatement><b>{{cost_summary.total}}</b></td>
                  </ng-template>
                </tr>
              </table>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Order Status: {{this.orderStatus}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="segmentModel === 'customer'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Customer Name: {{CustomerName}}</ion-card-title>
        <ion-card-subtitle>Delivery Date: {{deliveryDate}}</ion-card-subtitle>
        <ion-card-subtitle>Area of Delivery: {{areaOfDelivery}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div *ngIf="segmentModel === 'holding-area'">
    <ion-card *ngIf="productDatas.length > 0">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>Received: <ion-icon name="ellipse-sharp" color="{{color}}"></ion-icon></ion-card-subtitle>
              <ion-card-subtitle>Date/Time Received: {{dateReceived | date:'EEEE, d MMMM yyyy h:mm' }}</ion-card-subtitle>
              <ion-card-subtitle>Received By: {{receivedBy}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>Order No.: {{jobOrderNo}}</ion-card-subtitle>
              <ion-card-subtitle>No. of Items: {{total}}</ion-card-subtitle>
              <ion-card-subtitle>Delivery Date/Time: {{deliveryDate}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h4>QTY</h4>
            </ion-col>
            <ion-col size="5">
              <h4>Order Details</h4>
            </ion-col>
            <ion-col size="3">
              <h4>Unit Price</h4>
            </ion-col>
            <ion-col size="2">
              <h4>Total</h4>
            </ion-col>
          </ion-row>
          <div >
            <ion-row *ngFor="let data of productDatas; let i = index;">
              <ion-col size="2">
                <div *ngIf="data.department_id != '130'">
                  <h2>{{data.quantity}}</h2>
                </div>
                <ion-img [src]="data.featured_image"></ion-img>
                <ion-button size="small" color="primary" expand="full" (click)="openImage(data.featured_image)">VIEW</ion-button>
              </ion-col>
              <ion-col size="5">
                <label><b>ITEM: </b>{{data.name}}</label>
                <label><b>SKU#:</b> {{data.sku}}</label>
                <label *ngIf="data.product_type_id == '2'"><b>WEIGHT:</b> {{data.weight}}</label><br>
                <span *ngIf="deliveryLevel == 1">
                  <label *ngIf="data.is_same_prod_diff_size == 1"><b>Replacement Option: </b>Same brand, Different size </label>
                  <label *ngIf="data.is_same_size_diff_brand == 1"><b>Replacement Option: </b>Nearly same size, Different brand</label>
                  <label *ngIf="data.is_no_substitution== 1" ><b>Replacement Option: </b>No Replacement</label>
                </span>
                <label *ngIf="deliveryLevel == 2 || deliveryLevel == 3">
                  <span *ngIf="data.is_dc_delivery == 0"><b>Delivery Date:</b> {{deliveryDate}}</span>
                  <span *ngIf="data.is_dc_delivery == 1"><b>DC Delivery:</b> {{data.delivery_date_time | date:'EEEE, d MMMM yyyy h:mm ' }}</span>
                </label>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.isReplaced == 1">Replaced</ion-button>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.is_out_of_stock == 1">Out Of Stock</ion-button>
              </ion-col>
              <ion-col size="3">
                <h2>{{data.price_history | number:'1.2-2'}}</h2>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="data.product_type_id == '1' || data.product_type_id == '3'">
                  <h2>{{data.price_history * data.quantity | number:'1.2-2'}}</h2>
                </div>
                <div *ngIf="data.product_type_id == '2'">
                  <h2>{{data.price_history*data.weight | number:'1.2-2'}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </div>
            <ion-row>
              <ion-col>
                <b>Total Quantity: {{total}} </b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <table class="cost-summary">
                  <tr>
                    <td class="left"><b>Item Total({{total}}): </b></td>
                    <td class="right"><b>{{cost_summary.subtotal}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>ADD:</b></td>
                    <td class="right"></td>
                  </tr>
                  <tr *ngIf="hasMembership == null || hasMembership != 1">
                    <td class="left"><b>Non-member's Fee: </b></td>
                    <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Shopping Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>Discount:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.concierge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Delivery Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>S&H Fee:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Final Total: </b></td>
                    <td class="right" *ngIf="cost_summary.pos_total;else elseStatement"><b>{{cost_summary.pos_total}}</b></td>
                    <ng-template #elseStatement>
                      <td td class="right" #elseStatement><b>{{cost_summary.total}}</b></td>
                    </ng-template>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="segmentModel === 'rider'">
    <ion-card *ngIf="productDatas.length > 0">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>Order No.: {{jobOrderNo}}</ion-card-subtitle>
              <ion-card-subtitle>No. of Items: {{total}}</ion-card-subtitle>
              <ion-card-subtitle>Delivery Date/Time: {{deliveryDate}}</ion-card-subtitle>
              <ion-button size="small" color="primary" expand="full" (click)="getJobsPerCart()">View Rider Data</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let data of riderRes; let i = index;">
            <ion-col>
                <ion-card-subtitle>Fleet Job ID.: {{data.fleet_job_id}}</ion-card-subtitle>
                <ion-card-subtitle>Fleet Rider ID: {{data.fleet_rider_id}}</ion-card-subtitle>
                <ion-card-subtitle>Fleet Rider Name: {{data.fleet_rider_name}}</ion-card-subtitle>
                <ion-card-subtitle>Fleet Status: {{data.fleet_status}}</ion-card-subtitle>
                <ion-card-subtitle>
                  <div *ngFor="let log of logs; let i = index;">
                    <p *ngIf="log['id'] == data.fleet_job_id">
                      <strong>Status: </strong>{{log['status']}}<br>
                      <strong>Rider Name: </strong>{{log['rider_name']}}<br>
                      <strong>Date and Time: </strong>{{log['timestamp'] | date:'EEEE, d MMMM yyyy h:mm a'}}
                    </p>
                  </div>
                </ion-card-subtitle>
                  <ion-col *ngIf="data.fleet_status == 'ACCEPTED'" (click)="updateJob(data.fleet_rider_id, data.fleet_rider_name, data.fleet_job_id)">
                    <ion-button>Endorse</ion-button>
                  </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h4>QTY</h4>
            </ion-col>
            <ion-col size="5">
              <h4>Order Details</h4>
            </ion-col>
            <ion-col size="3">
              <h4>Unit Price</h4>
            </ion-col>
            <ion-col size="2">
              <h4>Total</h4>
            </ion-col>
          </ion-row>
          <div >
            <ion-row *ngFor="let data of productDatas; let i = index;">
              <ion-col size="2">
                <div *ngIf="data.department_id != '130'">
                  <h2>{{data.quantity}}</h2>
                </div>
                <ion-img [src]="data.featured_image"></ion-img>
                <ion-button size="small" color="primary" expand="full" (click)="openImage(data.featured_image)">VIEW</ion-button>
              </ion-col>
              <ion-col size="5">
                <label><b>ITEM: </b>{{data.name}}</label>
                <label><b>SKU#:</b> {{data.sku}}</label>
                <label *ngIf="data.product_type_id == '2'"><b>WEIGHT:</b> {{data.weight}}</label><br>
                <span *ngIf="deliveryLevel == 1">
                  <label *ngIf="data.is_same_prod_diff_size == 1"><b>Replacement Option: </b>Same brand, Different size </label>
                  <label *ngIf="data.is_same_size_diff_brand == 1"><b>Replacement Option: </b>Nearly same size, Different brand</label>
                  <label *ngIf="data.is_no_substitution== 1" ><b>Replacement Option: </b>No Replacement</label>
                </span>
                <label *ngIf="deliveryLevel == 2 || deliveryLevel == 3">
                  <span *ngIf="data.is_dc_delivery == 0"><b>Delivery Date:</b> {{deliveryDate}}</span>
                  <span *ngIf="data.is_dc_delivery == 1"><b>DC Delivery:</b> {{data.delivery_date_time | date:'EEEE, d MMMM yyyy h:mm ' }}</span>
                </label>
                <ion-button size="small" color="success" expand="full" *ngIf="data.isReplaced == 1">Replaced</ion-button>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.is_out_of_stock == 1">Out Of Stock</ion-button>
              </ion-col>
              <ion-col size="3">
                <h2>{{data.price_history | number:'1.2-2'}}</h2>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="data.product_type_id == '1' || data.product_type_id == '3'">
                  <h2>{{data.price_history * data.quantity | number:'1.2-2'}}</h2>
                </div>
                <div *ngIf="data.product_type_id == '2'">
                  <h2>{{data.price_history*data.weight | number:'1.2-2'}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </div>
            <ion-row>
              <ion-col>
                <b>Total Quantity: {{total}} </b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <table class="cost-summary">
                  <tr>
                    <td class="left"><b>Item Total({{total}}): </b></td>
                    <td class="right"><b>{{cost_summary.subtotal}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>ADD:</b></td>
                    <td class="right"></td>
                  </tr>
                  <tr *ngIf="hasMembership == null || hasMembership != 1">
                    <td class="left"><b>Non-member's Fee: </b></td>
                    <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Shopping Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>Discount:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.concierge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Delivery Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>S&H Fee:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Final Total: </b></td>
                    <td class="right" *ngIf="cost_summary.pos_total;else elseStatement"><b>{{cost_summary.pos_total}}</b></td>
                    <ng-template #elseStatement>
                      <td td class="right" #elseStatement><b>{{cost_summary.total}}</b></td>
                    </ng-template>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>