<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Choose A Rider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngFor="let list of riderList">
  <ion-card *ngIf="list['total'] > 0">
    <ion-card-content>
      <ion-grid >
        <ion-row>
          <ion-col size="4">
            <h2>Rider ID</h2>
          </ion-col>
          <ion-col size="6">
            <h2>Rider Name</h2>
          </ion-col>
          <ion-col size="2">
            <h2>Action</h2>
          </ion-col>
        </ion-row>
        <div  >
          <ion-row *ngFor="let res of list['results'] | keyvalue">
            <ion-col size="4">
              {{res.key}}
            </ion-col>
            <ion-col size="6">
              {{res.value['firstName']}} {{res.value['lastName']}}
            </ion-col>
            <ion-col size="2" class="ion-no-padding">
              <ion-button fill="clear" class="ion-no-margin" (click)="updateJob(res.key, res.value['firstName'],res.value['lastName'])">
                <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="list['total'] == 0">
    <ion-card-content>
      <label>{{list['results']}}</label>
    </ion-card-content>
  </ion-card>
</ion-content>
