<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="doRefresh()">
      <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
    </ion-buttons>
    <ion-title>For Staging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngFor="let order of orders">
  <ion-card *ngIf="order.data.length > 0">
    <ion-card-header>
      <ion-card-subtitle>{{today | date:'EEEE, d MMMM yyyy h:mm a' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <h2>Order#</h2>
          </ion-col>
          <ion-col size="7">
            <h2>Order Details</h2>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="2">
            <h2>Action</h2>
          </ion-col>
        </ion-row>
        <div >
          <ion-row *ngFor="let data of order.data; let i = index">
            <ion-col size="2">
              <label>{{data.id}}</label>
            </ion-col>
            <ion-col size="7">
              <label><b>J.O#</b> {{data.job_order_number}}</label><br>
              <label><b>Checkout Date:</b> {{data.checkedout_date | date:'EEEE, d MMMM yyyy'}}</label><br>
              <label>
                <b>Delivery Date:</b> {{deliveryDate}}
                <ion-text *ngIf="data.motorcycle_count > 1" color="danger">
                  <b>X{{data.motorcycle_count}}</b>
                </ion-text>
              </label>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="ellipse-sharp" color="danger" *ngIf="(data.order_status_id == '5' && haId == null)"></ion-icon>
              <ion-icon name="ellipse-sharp" color="success" *ngIf="data.order_status_id == '7' || data.order_status_id == '6'"></ion-icon>
            </ion-col>
            <ion-col size="2" class="ion-no-padding">
              <ion-button fill="clear" class="ion-no-margin" color="secondary" (click)="goToForDelivery(data.id, i)">
                <ion-icon slot="icon-only" name="eye-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>